<router-outlet></router-outlet>

<!-- <app-databinding [(size)]="fontSizePx"></app-databinding> -->
<!-- <app-directive (sendForm)="logForm($event)"></app-directive> -->
<!-- <app-list></app-list> -->
<!-- <app-form></app-form> -->


<!-- <app-CallBack></app-CallBack> -->
<!-- <app-Promise></app-Promise> -->
<!-- <app-AsyncAwait></app-AsyncAwait> -->


<!-- <app-ChangeDetection></app-ChangeDetection> -->
<!-- <app-TestZoneJs></app-TestZoneJs> -->
<!-- <app-TestOnPush></app-TestOnPush> -->

<!-- <app-LifeCycle [myInput]="name" (myInputChanged)="onMyInputChanged($event)"></app-LifeCycle> -->

<!-- <app-Observable></app-Observable> -->
<!-- <app-Observer></app-Observer> -->
<!-- <app-Operator></app-Operator> -->
<!-- <app-Subscription></app-Subscription> -->
<!-- <app-Subject></app-Subject> -->

<app-ComboBox></app-ComboBox>